@charset "UTF-8";


/* 共通部分 */
body {
  font-family: 'Noto Serif JP', serif;
}
a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
li {
  list-style: none;
}
img {
  display: block;
}
.line {
  width: 1200px;
  height: 2px;
  background: #000000;
  border-radius: 5px;
  margin: 29px auto;
}
.title-box {
  width: 280px;
  height: 85px;
  margin: 60px auto 40px;
  position: relative;

}
.title-name {
  background: #4E342E;
  font-size: 20px;
  color: #FFFFFF;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px;
}
.sub-name {
  width: 100px;
  height: 25px;
  background: #A8B96F;
  display: flex;
  justify-content: center;
  color: #C68E17;
  font-size: 13px;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
/* 共通部分 */

/* ヘッダー部分 */
.header {
  width: 100%;
  height: 80px;
  position: fixed;
  display: flex;
  z-index: 100;
  background: #4E342E;
}
.header-logo {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  width: 200px;
  height: 60px;
  background: #A8B96F;
  border-radius: 6px;
}
.header-logo img {
  width: 140px;
  height: 100%;
  margin: 0 auto;
}
.nav {
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
}
.nav ul {
  display: flex;
  padding: 10px 0;
}
.nav li {
  width: 120px;
  height: 40px;
  margin: 0 8px 0 0;
  background: #A8B96F;
  border-radius: 6px;
}
.nav li:last-child {
  margin: 0;
}
.nav li a {
  font-size: 16px;
  color: #5C4033;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}
.menu-btn {
  display: none;
}
/* ヘッダー部分 */

/* スライダー部分 */
.slider {
  width: 100%;
  padding: 80px 0 0 0;
}
.slider img {
  width: 100%;
  height: auto;
  display: block;
}
.slide-btn {
  content: "";
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  background-size: cover;
  cursor: pointer;
  display: block;
  z-index: 10;
}
.prev-btn {
  left: 0;
  background: url(/assets/image/arrow_prev.png) no-repeat center/cover #A8B96F;
}
.next-btn {
  right: 0;
  background: url(/assets/image/arrow_next.png) no-repeat center/cover #A8B96F;
}
.slick-dots li button:before {
  color: #A8B96F !important;
}
/* スライダー部分 */


/* メイン部分 */
.wrap {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 60px 0 60px;
  background: #FDF6E3;
}
.inner {
  width: 1100px;
  margin: 0 auto;
  padding: 75px 50px 80px;
}
.box1 {
  align-items: center;
  text-align: center;
  background: #FFFFFF;
}
.box1 .info {
  font-size: 20px;
  width: 700px;
  height: 90px;
  margin: 0 auto 55px;
  color: #4E342E;
  font-weight: bold;
  text-align: left;
  background: #FFFFFF;
}
.link-box {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  height: 100px;
}
.link-box li {
  background: #C68E17;
  border-radius: 6px;
  width: 300px;
  height: 100%;
  position: relative;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}
.link-box li:hover {
  top: 2px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.link-box li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: #4E342E;
}
.link-box img {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

/* ----------------------------------------------- */

.box2 {
  background-color: rgba(251, 185, 130, 0.6);
  opacity: 0;
  transform: translate(-100%,0);
  transition: all 1.2s ease-out;
  visibility: hidden;
}
#box2.is-active {
  visibility: visible;
  opacity: 1;
  transform: translate(0,0);
} 
.box2-c {
  background: #FFFFFF;
}
.img-box {
  display: flex;
  justify-content: space-between;
}
.box2-c .info {
  width: 100%;
  height: 110px;
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #4E342E;
  font-weight: bold;
}

/* ----------------------------------------------- */

.box3 {
  background: #FFFFFF;
  opacity: 0;
  transform: translate(150%, 0);
  transition: all 1.2s ease-out;
  visibility: hidden;
}
#box3.is-active {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
} 
.s-line {
  width: 1000px;
  height: 2px;
  background: #000000;
  border-radius: 5px;
  margin: 39px auto;
}
.box3-c {
  width: 1000px;
}
.box3-sp {
  display: none;
}
.box3-cw {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 400px;
  background: #FDF6E3;
}
.box3-cw img {
  width: 470px;
  height: 100%;
  border-radius: 10px;
}
.boxes {
  width: 530px;
  height: 100%;
  border: 1px solid #FBB982;
  padding: 16px;
  position: relative;
}
.wrap-image {
  width: 107px;
  height: 40px;
}
.wrap-image img {
  width: 100%;
}
.boxes .info {
  width: 100%;
  height: 240px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  background: #FFFFFF;
  margin: 20px 0 0;
  color: #4E342E;
}
.btn {
  display: inline-block;
  width: 186px;
  height: 40px;
  border-radius: 6px;
  background: #C68E17;
  position: absolute;
  bottom: 16px;
  right: 17px;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease-in-out;
}
.btn:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.btn a {
  line-height: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.btn img {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  right: 15px;
  transform: translateY(-50%) rotate(30deg);
}

/* ----------------------------------------------- */

.box4 {
  background-color: rgba(251, 185, 130, 0.6);
  opacity: 0;
  transform: translate(0, 30%);
  filter: blur(10px);
  transition: all 1.2s ease-out;
  visibility: hidden;
}
#box4.is-active {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
  filter: blur(0);
} 
.box4-c {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}
.box4-cw {
  width: 320px;
  height: auto;
  position: relative;
}
.box4-cw img {
  width: 100%;
}
.cw-b {
  border: 1px solid #FF7518;
  background: #FFFFFF;
  padding: 15px 20px 26px;
}
.cw-b .name {
  width: 124px;
  height: 26px;
  font-size: 12px;
  background: #4E342E;
  display: flex;
  color: #FFFFFF;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}
.cw-b .info {
  width: 280px;
  height: 158px;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #4E342E;
  margin: 16px 0 21px;
}
.btn4 {
  position: absolute;
  bottom: 26px;
  right: 65px;
  width: 190px;
  height: 42px;
  border-radius: 6px;
  background: #C68E17;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease-in-out;
}
.btn4:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.btn4 a {
  height: 100%;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.btn4 img {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%) rotate(30deg);
}
/* メイン部分 */


/* フッター部分 */
.footer {
  background: #4E342E;
  height: 80px;
  width: 100%;
  position: relative;
}
.footer-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #A8B96F;
  width: 200px;
  height: 60px;
  margin: 0 auto;
  border-radius: 6px;
}
.footer-logo img {
  width: 100%;
  height: 100%;
}
/* フッター部分 */

/* スマホレスポンシブ */
@media screen and (min-width: 375px) and (max-width: 767px)  {
  /* 共通部分 */
  .line {
    display: none;
  }
  .title-box {
    width: 265px;
    height: 75px;
  }
  .title-name {
    height: 45px;
  }
  .sub-name {
    width: 90px;
    height: 20px;
  }
  /* 共通部分 */

  /* ヘッダー部分 */
  .header {
    width: 100vw;
    height: 60px;
  }
  .header-logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 111px;
    height: 40px;
  }
  .header-logo img {
    width: 77px;
  }
  .nav {
    display: none;
  }
  .nav ul {
    display: none;
  }
  .nav li {
    display: none;
  }
  .nav li:last-child {
    display: none;
  }
  .nav li a {
    display: none;
  }

  /* ハンバーガーメニュー */
  .menu-btn{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.4s;
    width: 30px;
    height: 20px;
    z-index: 1000;
    display: block;
  }
  .menu-btn span {
    display: inline-block;
    transition: all 0.4s;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #D9D9D9;
  }
  .menu-btn span:nth-of-type(1) {
    top: 0;
  }
  .menu-btn span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  .menu-btn span:nth-of-type(3) {
    bottom: 0;
  }
  .menu-btn.is-active span:nth-of-type(1) {
    transform: translateY(9px) rotate(-315deg);
  }
  .menu-btn.is-active span:nth-of-type(2) {
    opacity: 0;
  }
  .menu-btn.is-active span:nth-of-type(3) {
    transform: translateY(-9px) rotate(315deg);
  }

  body.is-active {
    overflow: hidden;
  }
  #nav.is-active {
    top: 150px;
    right: 0;
    display: block;
    background: #000;
    width: 100vw;
    height: 180px;
    position: relative;
  }
  .nav.is-active ul {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .nav.is-active li {
    background: none;
    margin: 0;
    display: block;
    width: auto;
    align-items: center;
    text-align: center;
  }
  .nav.is-active li:hover {
    border-bottom: 1px solid #A8B96F;
    border-radius: 0;
  }
  .nav.is-active li:last-child {
    display: block;
  }
  .nav.is-active li a {
    height: 100%;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
  }
  /* ハンバーガーメニュー */

  /* ヘッダー部分 */

  /* スライダー部分 */
  .slider {
    width: 100%;
    height: auto;
    padding: 60px 0 0 0;
  }
  .slider img {
    width: 100%;
    height: 170px;
    object-fit: cover;
  }
  .slide-btn {
    width: 40px;
    height: 40px;
  }
  /* スライダー部分 */


  /* メイン部分 */
  .wrap {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 30px 15px 30px;
    background: #FDF6E3;
  }
  .inner {
    max-width: 100%;
    padding: 30px 0;
  }
  .box1 {
    align-items: center;
    text-align: center;
    background: #FFFFFF;
  }
  .box1 .info {
    font-size: 17px;
    width: auto;
    height: 190px;
    margin: 0 auto 30px;
    padding: 0 40px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .link-box {
    display: block;
    width: auto;
    height: auto;
  }
  .link-box li {
    background: #C68E17;
    border-radius: 6px;
    width: 100%;
    height: 110px;
    margin: 0 0 20px;
  }
  .link-box li:last-child {
    margin: 0;
  }

  /* ----------------------------------------------- */

  .box2 {
    opacity: 1;
    transform: translate(0,0);
    transition: none;
    visibility: visible;
    height: auto;
  }
  .box2-c {
    background: none;
  }
  .img-box {
    width: 345px;
    margin: 0 auto;
    display: block;
    justify-content: center;
  }
  .img-box img {
    width: 100%;
    height: 200px;
    margin: 0 0 20px;
    object-fit: cover;
  }
  .img-box img:last-child {
    margin: 0;
  }
  .box2-c .info {
    width: 300px;
    height: 125px;
    padding: 0 2%;
    margin: 25px auto 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #4E342E;
    font-weight: bold;
    background: #FFFFFF;
  }

  /* ----------------------------------------------- */

  .box3 {
    opacity: 1;
    transform: translate(0, 0);
    transition: none;
    visibility: visible;
  } 
  .s-line {
    width: 345px;
    height: 2px;
    background: #000000;
    border-radius: 5px;
    margin: 24px auto;
  }
  .box3-c {
    width: auto;
  }
  .box3-cw {
    display: grid;
    justify-content: center;
    width: 100%;
    height: auto;
    background: #FFFFFF;
  }
  .box3-cw.sp {
    display: none;
  }
  .box3-cw.sp img {
    display: none;
  }
  .box3-cw img {
    width: 80%;
    height: 200px;
    margin: 0 auto 14px;
  }
  .box3-sp {
    display: grid;
    justify-content: center;
    width: 100%;
    height: auto;
    background: #FFFFFF;
  }
  .box3-sp img {
    width: 80%;
    height: 200px;
    margin: 0 auto 14px;
  }
  .boxes {
    width: 100%;
    height: auto;
    border: none;
    padding: 0;
    position: static;
  }
  .wrap-image {
    width: 151px;
    height: 35px;
    margin: 0 auto;
  }
  .wrap-image img {
    width: 100%;
    height: 100%;
  }
  .boxes .info {
    width: 300px;
    height: 140px;
    margin: 0 auto 16px;
  }
  .btn {
    display: block;
    margin: 0 auto 20px;
    width: 186px;
    height: 40px;
    bottom: 0;
    right: 0;
    position: relative;
    box-shadow: none;
    transition: none;
  }
  .btn:hover {
    box-shadow: none;
  }
  .btn a {
    line-height: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .btn img {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    right: 15px;
    transform: translateY(-50%) rotate(30deg);
  }

  .box3-cw:nth-of-type(2) {
    display: flex;
    flex-direction: column;
  }
  .boxes:nth-of-type(2) {
    order: 2; /* 後に表示 */
  }
  
  .boxes img:nth-of-type(2) {
    order: -1; /* 先に表示 */
  }
  
  /* ----------------------------------------------- */

  .box4 {
    background-color: rgba(251, 185, 130, 0.6);
    opacity: 1;
    transform: translate(0, 0);
    filter: blur(0);
    transition: none;
    visibility: visible;
  } 
  .box4-c {
    width: auto;
    display: block;
    justify-content: center;
  }
  .box4-cw {
    width: auto;
    height: auto;
    position: static;
    margin: 0 0 30px;
  }
  .box4-cw:last-child {
    margin: 0;
  }
  .box4-cw img {
    height: 250px;
    object-fit: contain;
  }
  .cw-b .name {
    width: 133px;
    height: 26px;
    font-size: 12px;
  }
  .cw-b .info {
    width: auto;
    height: 155px;
  }
  .btn4 {
    position: relative;
    bottom: 0;
    right: 0;
    width: 190px;
    height: 42px;
    border-radius: 6px;
    margin: 0 auto;
    box-shadow: none;
    transition: none;
  }
  .btn4:hover {
    box-shadow: none;
  }
  .btn4 a {
    height: 100%;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .btn4 img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%) rotate(30deg);
  }
  /* メイン部分 */
}